# Random Forest Regression

## Importing the libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

## Importing the dataset

In [3]:
dataset = pd.read_csv('train.csv')

In [4]:
testData = pd.read_csv('test.csv')

## Remove sparse columns

In [5]:
# remove sparse columns from training data, and keep a record of deleted columns to remove them from test data as well

deletedCols = []

for i in dataset.columns:

  # remove all columns with less than 70% of entries present
  if dataset[i].isnull().sum() > 0.3*len(dataset.index):

    deletedCols.append(i)

    dataset.drop([i],axis=1,inplace=True)


for j in deletedCols:
  testData.drop([j],axis=1,inplace=True)

## Handle remaining missing values

In [6]:
# fill in the blanks. If numerical, fill in the Mean value. If Object i.e. categorical values, fill in the Mode value.

# problem-specific: MSSubClass is a categorical feature with numerical values. As such, it should be treated like a categorical feature/

for i in dataset.columns:

  if dataset[i].dtype == np.float64 or dataset[i].dtype == np.int64:

    if i != 'MSSubClass':
      dataset[i] = dataset[i].fillna(dataset[i].mean())

  else:
    
    dataset[i] = dataset[i].fillna(dataset[i].mode()[0])

dataset['MSSubClass'] = dataset['MSSubClass'].fillna(dataset['MSSubClass'].mode()[0])

# do the same for test data (independently - i.e. without any cross reference to the training data)
for j in testData.columns:

  if testData[j].dtype == np.float64 or testData[j].dtype == np.int64:
    
    if i != 'MSSubClass':
      testData[j] = testData[j].fillna(testData[j].mean())

  else:
    
    testData[j] = testData[j].fillna(testData[j].mode()[0])

testData['MSSubClass'] = testData['MSSubClass'].fillna(testData['MSSubClass'].mode()[0])

In [ ]:
testData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 75 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1459 non-null   int64
 1   MSSubClass     1459 non-null   int64
 2   MSZoning       1459 non-null   object
 3   LotFrontage    1459 non-null   float64
 4   LotArea        1459 non-null   int64
 5   Street         1459 non-null   object
 6   LotShape       1459 non-null   object
 7   LandContour    1459 non-null   object
 8   Utilities      1459 non-null   object
 9   LotConfig      1459 non-null   object
 10  LandSlope      1459 non-null   object
 11  Neighborhood   1459 non-null   object
 12  Condition1     1459 non-null   object
 13  Condition2     1459 non-null   object
 14  BldgType       1459 non-null   object
 15  HouseStyle     1459 non-null   object
 16  OverallQual    1459 non-null   int64
 17  OverallCond    1459 non-null   int64
 18  YearBuilt      1459 non-null   int64
 19  YearRemodAdd   1459 non-null   int64
 20  RoofStyle      1459 non-null   object
 21  RoofMatl       1459 non-null   object
 22  Exterior1st    1459 non-null   object
 23  Exterior2nd    1459 non-null   object
 24  MasVnrType     1459 non-null   object
 25  MasVnrArea     1459 non-null   float64
 26  ExterQual      1459 non-null   object
 27  ExterCond      1459 non-null   object
 28  Foundation     1459 non-null   object
 29  BsmtQual       1459 non-null   object
 30  BsmtCond       1459 non-null   object
 31  BsmtExposure   1459 non-null   object
 32  BsmtFinType1   1459 non-null   object
 33  BsmtFinSF1     1459 non-null   float64
 34  BsmtFinType2   1459 non-null   object
 35  BsmtFinSF2     1459 non-null   float64
 36  BsmtUnfSF      1459 non-null   float64
 37  TotalBsmtSF    1459 non-null   float64
 38  Heating        1459 non-null   object
 39  HeatingQC      1459 non-null   object
 40  CentralAir     1459 non-null   object
 41  Electrical     1459 non-null   object
 42  1stFlrSF       1459 non-null   int64
 43  2ndFlrSF       1459 non-null   int64
 44  LowQualFinSF   1459 non-null   int64
 45  GrLivArea      1459 non-null   int64
 46  BsmtFullBath   1459 non-null   float64
 47  BsmtHalfBath   1459 non-null   float64
 48  FullBath       1459 non-null   int64
 49  HalfBath       1459 non-null   int64
 50  BedroomAbvGr   1459 non-null   int64
 51  KitchenAbvGr   1459 non-null   int64
 52  KitchenQual    1459 non-null   object
 53  TotRmsAbvGrd   1459 non-null   int64
 54  Functional     1459 non-null   object
 55  Fireplaces     1459 non-null   int64
 56  GarageType     1459 non-null   object
 57  GarageYrBlt    1459 non-null   float64
 58  GarageFinish   1459 non-null   object
 59  GarageCars     1459 non-null   float64
 60  GarageArea     1459 non-null   float64
 61  GarageQual     1459 non-null   object
 62  GarageCond     1459 non-null   object
 63  PavedDrive     1459 non-null   object
 64  WoodDeckSF     1459 non-null   int64
 65  OpenPorchSF    1459 non-null   int64
 66  EnclosedPorch  1459 non-null   int64
 67  3SsnPorch      1459 non-null   int64
 68  ScreenPorch    1459 non-null   int64
 69  PoolArea       1459 non-null   int64
 70  MiscVal        1459 non-null   int64
 71  MoSold         1459 non-null   int64
 72  YrSold         1459 non-null   int64
 73  SaleType       1459 non-null   object
 74  SaleCondition  1459 non-null   object
dtypes: float64(11), int64(26), object(38)
memory usage: 855.0+ KB

## Convert cyclical values to cos/sin

In [7]:
dataset['month_sin'] = np.sin((dataset.MoSold-1)*(2.*np.pi/12))
dataset['month_cos'] = np.cos((dataset.MoSold-1)*(2.*np.pi/12))


testData['month_sin'] = np.sin((testData.MoSold-1)*(2.*np.pi/12))
testData['month_cos'] = np.cos((testData.MoSold-1)*(2.*np.pi/12))

In [ ]:
#dataset.info()

In [8]:
# Get the DataFrame column names as a list
clist = list(dataset.columns)

# Rearrange list the way you like 
clist_new = clist[:75] + [clist[76]] + [clist[77]] + [clist[75]]  # brings the last column in the first place

# Pass the new list to the DataFrame - like a key list in a dict 
dataset = dataset[clist_new]

In [9]:
dataset.drop(['MoSold'],axis=1,inplace=True)

testData.drop(['MoSold'],axis=1,inplace=True)

In [ ]:
dataset.head()

   Id  MSSubClass MSZoning  ...  month_sin  month_cos SalePrice
0   1          60       RL  ...   0.500000   0.866025    208500
1   2          20       RL  ...   0.866025  -0.500000    181500
2   3          60       RL  ...  -0.866025  -0.500000    223500
3   4          70       RL  ...   0.500000   0.866025    140000
4   5          60       RL  ...  -0.500000   0.866025    250000

[5 rows x 77 columns]

In [ ]:
print(deletedCols)

print(dataset.shape)

print(testData.shape)

['Alley', 'FireplaceQu', 'PoolQC', 'Fence', 'MiscFeature']
(1460, 77)
(1459, 76)

## Encoding Categorical features

In [10]:
fullData=pd.concat([dataset,testData],axis=0)

fullData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2919 entries, 0 to 1458
Data columns (total 77 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             2919 non-null   int64
 1   MSSubClass     2919 non-null   int64
 2   MSZoning       2919 non-null   object
 3   LotFrontage    2919 non-null   float64
 4   LotArea        2919 non-null   int64
 5   Street         2919 non-null   object
 6   LotShape       2919 non-null   object
 7   LandContour    2919 non-null   object
 8   Utilities      2919 non-null   object
 9   LotConfig      2919 non-null   object
 10  LandSlope      2919 non-null   object
 11  Neighborhood   2919 non-null   object
 12  Condition1     2919 non-null   object
 13  Condition2     2919 non-null   object
 14  BldgType       2919 non-null   object
 15  HouseStyle     2919 non-null   object
 16  OverallQual    2919 non-null   int64
 17  OverallCond    2919 non-null   int64
 18  YearBuilt      2919 non-null   int64
 19  YearRemodAdd   2919 non-null   int64
 20  RoofStyle      2919 non-null   object
 21  RoofMatl       2919 non-null   object
 22  Exterior1st    2919 non-null   object
 23  Exterior2nd    2919 non-null   object
 24  MasVnrType     2919 non-null   object
 25  MasVnrArea     2919 non-null   float64
 26  ExterQual      2919 non-null   object
 27  ExterCond      2919 non-null   object
 28  Foundation     2919 non-null   object
 29  BsmtQual       2919 non-null   object
 30  BsmtCond       2919 non-null   object
 31  BsmtExposure   2919 non-null   object
 32  BsmtFinType1   2919 non-null   object
 33  BsmtFinSF1     2919 non-null   float64
 34  BsmtFinType2   2919 non-null   object
 35  BsmtFinSF2     2919 non-null   float64
 36  BsmtUnfSF      2919 non-null   float64
 37  TotalBsmtSF    2919 non-null   float64
 38  Heating        2919 non-null   object
 39  HeatingQC      2919 non-null   object
 40  CentralAir     2919 non-null   object
 41  Electrical     2919 non-null   object
 42  1stFlrSF       2919 non-null   int64
 43  2ndFlrSF       2919 non-null   int64
 44  LowQualFinSF   2919 non-null   int64
 45  GrLivArea      2919 non-null   int64
 46  BsmtFullBath   2919 non-null   float64
 47  BsmtHalfBath   2919 non-null   float64
 48  FullBath       2919 non-null   int64
 49  HalfBath       2919 non-null   int64
 50  BedroomAbvGr   2919 non-null   int64
 51  KitchenAbvGr   2919 non-null   int64
 52  KitchenQual    2919 non-null   object
 53  TotRmsAbvGrd   2919 non-null   int64
 54  Functional     2919 non-null   object
 55  Fireplaces     2919 non-null   int64
 56  GarageType     2919 non-null   object
 57  GarageYrBlt    2919 non-null   float64
 58  GarageFinish   2919 non-null   object
 59  GarageCars     2919 non-null   float64
 60  GarageArea     2919 non-null   float64
 61  GarageQual     2919 non-null   object
 62  GarageCond     2919 non-null   object
 63  PavedDrive     2919 non-null   object
 64  WoodDeckSF     2919 non-null   int64
 65  OpenPorchSF    2919 non-null   int64
 66  EnclosedPorch  2919 non-null   int64
 67  3SsnPorch      2919 non-null   int64
 68  ScreenPorch    2919 non-null   int64
 69  PoolArea       2919 non-null   int64
 70  MiscVal        2919 non-null   int64
 71  YrSold         2919 non-null   int64
 72  SaleType       2919 non-null   object
 73  SaleCondition  2919 non-null   object
 74  month_sin      2919 non-null   float64
 75  month_cos      2919 non-null   float64
 76  SalePrice      1460 non-null   float64
dtypes: float64(14), int64(25), object(38)
memory usage: 1.7+ MB

In [11]:
categ = []

for i in fullData.columns:

  if fullData[i].dtype == np.object:

    categ.append(i)

# MSSubClass is a numerical value but should be treated as a categorical feature

categ.append('MSSubClass')

In [ ]:
print(categ)

['MSZoning', 'Street', 'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual', 'Functional', 'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond', 'PavedDrive', 'SaleType', 'SaleCondition', 'MSSubClass']

In [12]:
def category_onehot_multcols(multcolumns, dataframe):
    df_final = dataframe
    i=0
    for field in multcolumns:
        
        df1=pd.get_dummies(dataframe[field], drop_first = True)
        
        dataframe.drop([field],axis=1,inplace=True)
        if i==0:
            df_final=df1.copy()
        else:
            
            df_final=pd.concat([df_final, df1],axis=1)
        i += 1
       
        
    df_final=pd.concat([dataframe,df_final],axis=1)
        
    return df_final

In [13]:
fullDataCopy = fullData.copy()

newOutput = category_onehot_multcols(categ, fullDataCopy)

newOutput

        Id  LotFrontage  LotArea  OverallQual  ...  150  160  180  190
0        1         65.0     8450            7  ...    0    0    0    0
1        2         80.0     9600            6  ...    0    0    0    0
2        3         68.0    11250            7  ...    0    0    0    0
3        4         60.0     9550            7  ...    0    0    0    0
4        5         84.0    14260            8  ...    0    0    0    0
...    ...          ...      ...          ...  ...  ...  ...  ...  ...
1454  2915         21.0     1936            4  ...    0    1    0    0
1455  2916         21.0     1894            4  ...    0    1    0    0
1456  2917        160.0    20000            5  ...    0    0    0    0
1457  2918         62.0    10441            5  ...    0    0    0    0
1458  2919         74.0     9627            7  ...    0    0    0    0

[2919 rows x 249 columns]

In [14]:
# remove columns which are duplicates (and therefore don't add anything to the model)

newOutput = newOutput.loc[:,~newOutput.columns.duplicated()]

newOutput.shape

(2919, 193)

In [ ]:
newOutput.head(15)

    Id  LotFrontage  LotArea  OverallQual  OverallCond  ...  120  150  160  180  190
0    1    65.000000     8450            7            5  ...    0    0    0    0    0
1    2    80.000000     9600            6            8  ...    0    0    0    0    0
2    3    68.000000    11250            7            5  ...    0    0    0    0    0
3    4    60.000000     9550            7            5  ...    0    0    0    0    0
4    5    84.000000    14260            8            5  ...    0    0    0    0    0
5    6    85.000000    14115            5            5  ...    0    0    0    0    0
6    7    75.000000    10084            8            5  ...    0    0    0    0    0
7    8    70.049958    10382            7            6  ...    0    0    0    0    0
8    9    51.000000     6120            7            5  ...    0    0    0    0    0
9   10    50.000000     7420            5            6  ...    0    0    0    0    1
10  11    70.000000    11200            5            5  ...    0    0    0    0    0
11  12    85.000000    11924            9            5  ...    0    0    0    0    0
12  13    70.049958    12968            5            6  ...    0    0    0    0    0
13  14    91.000000    10652            7            5  ...    0    0    0    0    0
14  15    70.049958    10920            6            5  ...    0    0    0    0    0

[15 rows x 193 columns]

## Split train and test sets again after dummy encoding variables

In [15]:
dfTrain = newOutput.iloc[:1460,:]
dfTest = newOutput.iloc[1460:,:]



y_train = dfTrain['SalePrice']
X_train = dfTrain.drop(['SalePrice'],axis=1)


X_test = dfTest.drop(['SalePrice'],axis=1,inplace=True)

dfTrain.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

   Id  LotFrontage  LotArea  OverallQual  OverallCond  ...  120  150  160  180  190
0   1         65.0     8450            7            5  ...    0    0    0    0    0
1   2         80.0     9600            6            8  ...    0    0    0    0    0
2   3         68.0    11250            7            5  ...    0    0    0    0    0
3   4         60.0     9550            7            5  ...    0    0    0    0    0
4   5         84.0    14260            8            5  ...    0    0    0    0    0

[5 rows x 193 columns]

In [ ]:
X_test.head()

     Id  LotFrontage  LotArea  OverallQual  ...  150  160  180  190
0  1461         80.0    11622            5  ...    0    0    0    0
1  1462         81.0    14267            6  ...    0    0    0    0
2  1463         74.0    13830            5  ...    0    0    0    0
3  1464         78.0     9978            6  ...    0    0    0    0
4  1465         43.0     5005            8  ...    0    0    0    0

[5 rows x 192 columns]

In [16]:
from sklearn.model_selection import train_test_split
altX_train, altX_test, alty_train, alty_test = train_test_split(X_train, y_train, test_size = 0.2)

## Training the Random Forest Regression model on the whole dataset

In [ ]:
from sklearn.ensemble import RandomForestRegressor


regressor = RandomForestRegressor(n_estimators = 10, random_state = 0)
#regressor.fit(X_train, y_train)
regressor.fit(altX_train, alty_train)



regressor2 = RandomForestRegressor(n_estimators = 100, random_state = 0)

regressor2.fit(X_train, y_train)
#regressor2.fit(altX_train, alty_train)



#regressor3 = RandomForestRegressor(n_estimators = 1000, random_state = 0)

#regressor2.fit(X_train, y_train)
#regressor3.fit(altX_train, alty_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=1000, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

In [17]:
import xgboost
xgbregressor=xgboost.XGBRegressor()

xgbregressor.fit(altX_train, alty_train)

[02:29:54] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

### Hyperparameter tuning

In [18]:
booster=['gbtree','gblinear']
base_score=[0.25,0.5,0.75,1]

n_estimators = [100, 500, 1200]
max_depth = [2, 3, 5, 10, 15]
booster=['gbtree','gblinear']
learning_rate=[0.05,0.1,0.15,0.20]
min_child_weight=[1,2,3,4]

# Define the grid of hyperparameters to search
hyperparameter_grid = {
    'n_estimators': n_estimators,
    'max_depth':max_depth,
    'learning_rate':learning_rate,
    'min_child_weight':min_child_weight,
    'booster':booster,
    'base_score':base_score
    }

In [19]:
from sklearn.model_selection import RandomizedSearchCV

# Set up the random search with 4-fold cross validation
random_cv = RandomizedSearchCV(estimator=xgbregressor,
            param_distributions=hyperparameter_grid,
            cv=5, n_iter=50,
            scoring = 'neg_mean_absolute_error',n_jobs = 10,
            verbose = 5, 
            return_train_score = True,
            random_state=42)

random_cv.fit(altX_train,alty_train)

Fitting 5 folds for each of 50 candidates, totalling 250 fits

[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  52 tasks      | elapsed:  4.0min
[Parallel(n_jobs=10)]: Done 142 tasks      | elapsed: 10.2min
[Parallel(n_jobs=10)]: Done 250 out of 250 | elapsed: 15.5min finished

[02:46:26] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

RandomizedSearchCV(cv=5, error_score=nan,
                   estimator=XGBRegressor(base_score=0.5, booster='gbtree',
                                          colsample_bylevel=1,
                                          colsample_bynode=1,
                                          colsample_bytree=1, gamma=0,
                                          importance_type='gain',
                                          learning_rate=0.1, max_delta_step=0,
                                          max_depth=3, min_child_weight=1,
                                          missing=None, n_estimators=100,
                                          n_jobs=1, nthread=None,
                                          objective='reg:linear',
                                          random_state=0, reg_alpha=...
                   iid='deprecated', n_iter=50, n_jobs=10,
                   param_distributions={'base_score': [0.25, 0.5, 0.75, 1],
                                        'booster': ['gbtree', 'gblinear'],
                                        'learning_rate': [0.05, 0.1, 0.15, 0.2],
                                        'max_depth': [2, 3, 5, 10, 15],
                                        'min_child_weight': [1, 2, 3, 4],
                                        'n_estimators': [100, 500, 1200]},
                   pre_dispatch='2*n_jobs', random_state=42, refit=True,
                   return_train_score=True, scoring='neg_mean_absolute_error',
                   verbose=5)

In [20]:
random_cv.best_estimator_

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.05, max_delta_step=0,
             max_depth=2, min_child_weight=1, missing=None, n_estimators=1200,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [21]:
xgbregressor=xgboost.XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.05, max_delta_step=0,
             max_depth=2, min_child_weight=1, missing=None, n_estimators=1200,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [22]:
xgbregressor.fit(altX_train,alty_train)

[03:45:37] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.05, max_delta_step=0,
             max_depth=2, min_child_weight=1, missing=None, n_estimators=1200,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

## Predicting the Test set results

In [23]:
#alty_pred = regressor.predict(altX_test)

#alty_pred2 = regressor2.predict(altX_test)

#alty_pred3 = regressor3.predict(altX_test)

alty_pred4 = xgbregressor.predict(altX_test)

In [ ]:
y_pred = xgbregressor.predict(altX_test)
np.set_printoptions(precision=2)
#print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

y_pred

array([130590.8 , 172047.98, 139306.61, 132095.25, 201418.5 , 124928.41,
       198331.62, 156599.16, 210402.89, 147808.66, 133496.23,  94274.29,
       199418.66, 208398.56, 139934.44,  74580.87,  88507.14, 100335.58,
       139668.08, 175037.48, 122429.89, 270358.5 , 168140.25, 154752.75,
       177065.88, 238153.73, 209838.3 , 197780.25,  77482.16, 166167.8 ,
       168027.52, 145583.56, 180378.81, 140730.98,  94682.66, 162762.19,
       376934.6 , 137968.06, 282607.9 , 108511.73, 111773.23, 170874.31,
       125625.85, 153884.88, 243277.66, 161590.45, 176682.73, 131462.28,
       102191.84, 186227.36, 331436.47, 336029.22, 126124.8 , 201465.53,
       349820.06, 464024.34, 233120.47, 266697.25, 305888.56, 127663.09,
       164113.81, 183678.8 , 176809.64, 127369.2 , 144382.75,  95796.49,
       126745.73, 239538.2 , 228391.25, 161068.72, 150567.92, 172865.02,
       223186.92, 258168.78, 125622.51, 152471.1 , 115510.37, 133183.94,
       242698.12, 116896.48, 134276.22, 109134.09, 251928.48, 207551.97,
       230597.69, 150547.14, 118913.59, 200292.58, 141907.48, 101391.34,
       197595.19,  97095.48, 157366.66, 184581.  , 103120.4 , 182882.94,
       175959.19,  99268.09,  50465.68, 109215.34, 102588.29, 133588.1 ,
       132776.66, 145701.83, 196796.36, 130204.97, 226493.52, 332036.22,
       129378.2 , 169585.69, 115554.3 , 164682.53, 117897.68, 192235.27,
       132220.19, 166356.66, 142237.84, 272000.6 , 197810.12, 143647.53,
       169426.89, 122185.88, 164866.64, 195816.  , 128376.82, 139673.62,
       196764.5 , 116874.14, 136166.34, 348241.3 , 111500.89, 135784.22,
        76472.16, 234582.23, 150805.22, 259732.7 , 120250.34, 139060.34,
       194956.53, 191816.39, 108229.55, 226751.89, 201145.17, 144801.4 ,
       201174.97, 113913.28, 152057.27, 332542.88, 108359.54,  97974.19,
       143566.19,  84593.36, 143649.14, 187882.83,  90954.2 , 184729.77,
       155873.36, 183177.77, 124079.12, 121747.58, 224581.6 , 432455.2 ,
       246353.98, 145556.05, 365711.97,  89921.02, 322227.53, 134348.22,
       199387.92, 143377.73, 120381.28, 191298.03, 207516.4 , 119718.79,
       195732.34, 122535.78, 138771.92, 121243.27, 237370.48,  88435.26,
        87637.77, 173624.83, 263867.44, 143848.48, 147176.2 , 178142.14,
       136812.38, 141121.16, 109377.8 ,  81545.34, 193834.1 , 293071.34,
       403544.25, 204480.84, 332063.88, 126376.87,  98131.36, 168510.58,
       107122.27, 131216.22, 143051.72, 158273.36, 422403.62, 120062.54,
       149210.1 , 145547.64, 201310.3 , 201940.64, 155071.5 , 128408.73,
       139498.84,  83385.99, 162039.31, 295362.5 , 150956.89, 345638.9 ,
       170683.62, 121599.45, 221000.81, 158448.67, 141869.75, 187465.52,
       160267.16, 194137.88,  84709.09, 117704.86, 118630.91,  73956.4 ,
       183983.39, 115271.56, 401085.53, 215657.62, 144378.3 , 234860.67,
       130503.73, 134278.78, 192606.14,  90734.34, 167802.53, 141649.06,
       316466.28,  70689.97, 219542.8 , 175779.56, 147140.44,  82907.52,
       136937.31, 169585.69, 249009.75, 240555.72, 204244.84, 151918.16,
       151953.03, 299080.38, 189393.44, 133006.94,  89878.16, 195145.17,
       159914.7 , 219392.27, 139975.56, 101812.43, 303027.2 , 189366.9 ,
       223958.58, 139153.34, 149563.6 , 204652.52, 105913.51, 266029.28,
       183618.88, 171075.  , 280072.44, 141006.92, 221373.39, 186559.5 ,
       212446.06, 305791.56, 201769.22, 294737.78, 180227.75, 243707.7 ,
       143669.53, 238330.64, 189443.03, 181622.17, 193408.95, 193703.55,
        89713.35, 118007.44, 139390.47, 129527.94], dtype=float32)

## Evaluating the Model Performance

In [24]:
from sklearn.metrics import r2_score


print(r2_score(alty_test, alty_pred4))

0.6832432775331052

In [ ]:
from sklearn.metrics import r2_score
print(r2_score(alty_test, alty_pred))

print(r2_score(alty_test, alty_pred2))

print(r2_score(alty_test, alty_pred3))

0.871080170165506
0.898433146445045
0.8975798532775926

In [ ]:

"""
# found in online article, not yet tailored to this problem

# We'll use 5-fold cross validation. That is, a random 80% of the data will be used
# to train the model, and the prediction score will be computed on the remaining 20%.
# This process is repeated five times such that the training sets in each "fold"
# are mutually orthogonal.
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
kfold = KFold(n_splits=5)

results = cross_val_score(model, X, y, cv=kfold, scoring='neg_mean_squared_error')
print 'CV Scoring Result: mean=',np.mean(results),'std=',np.std(results)

"""

## Package output for submission

In [ ]:
##Create Sample Submission file
pred=pd.DataFrame(y_pred)
sub_df=pd.read_csv('sample_submission.csv')
datasets=pd.concat([sub_df['Id'],pred],axis=1)
datasets.columns=['Id','SalePrice']
datasets.to_csv('tomP_submission.csv',index=False)